<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<a href="/auth/kakao" methods="post">
  <button>로그인</button>
</a>
<a href="/auth/logout" methods="post">
  <button>로그아웃</button>
</a>
<div class="container">
  <div class="jumbotron">
    <h1>파일업로드</h1>
    <p> </p>
  </div>
</div>
<br>
<br>
<div class="container">
  <form action="/about/notice/image" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label >파일업로드</label>
      <input type="file" class="form-control-file" id="fileupload" name="fileupload">
    </div>
    <input type="submit" value="올리기">
  </form>
  <img src="/backend/routes/post/img">
  <img src="/views/test.png"
 
</div>
</body>
</html>
